
design/Level 3/~$Inner Knee Joint.SLDPRT
design/Level 3/~$Inner Torso Joint.SLDPRT
design/Level 3/~$Knee Joint Pad.SLDPRT
design/Level 3/~$Knee Joint.SLDASM
design/Level 3/~$Outer Knee Joint.SLDPRT
design/Level 3/~$Outer Torso Joint.SLDPRT
design/Level 3/~$Tail.SLDPRT
design/Level 3/~$Tibia.SLDPRT
